---
---

<!DOCTYPE html>
<html>
<head>
	<title> Horários - IFPB Campus Guarabira </title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<meta name="keywords" content="horários, ifpb, guarabira, campus, professor, aluno">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<header class="w3-container w3-red w3-center w3-padding-128">
	<h1 class="w3-margin w3-jumbo">START PAGE</h1>
	<p class="w3-xlarge">Template by w3.css</p>
	<button class="w3-btn w3-padding-16 w3-large w3-margin-top">Get Started</button>
</header>
<body>
  	<style>
  		html,body,h1,h2,h3,h4,h5,h6 {
			font-family: 'Open Sans', sans-serif;
		}
 	</style>
	{% for curso  in site.data.horarios.cursos %}
  		<h2> {{curso.nome}} </h2>
    		{% for turma in curso.turmas %}
      			<h3> {{turma.nome}} </h3>
  			<div class="table-responsive"> 
  				<table class="table table-bordered"> 
      					<tr class = "titulo-tabela", class="formatar-tabela"> 
       						{% for coluna in turma.colunas %}
        						<th> {{coluna}} </th>
        					{% endfor %}
     					</tr>
						{% for linha in turma.linhas %}
        					<tr>
          						<td id="horario", class = "titulo-tabela"> {{linha.horario}} </td>
          						{% if linha.aulas[0].disciplina == "INTERVALO" 
							or linha.aulas[0].disciplina == "ALMOÇO"
							or linha.aulas[0].disciplina == "JANTAR" %}
								<td colspan="5" class="break"> {{linha.aulas[0].disciplina}} </td>
							{% else %}
								{% for aula in linha.aulas %}
          								<td class="celula"> <span class="disciplina"> {{aula.disciplina}} </span> <br/> <span class="professor"> {{aula.professor}} </span> </td>
          							{% endfor %}
							{% endif %}
        					</tr>
        					{% endfor %}
    				</table>
    			</div>
		{% endfor %}
	{% endfor %}
</body>
</html>

