---
---

<!DOCTYPE html>
<html>
<head>
	<title> Horários - IFPB Campus Guarabira </title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="images/favicon.ico">
	<meta name="keywords" content="horários, ifpb, guarabira, campus, professor, aluno">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  	<style>
  		html,body,h1,h2,h3,h4,h5,h6 {
			font-family: 'Open Sans', sans-serif;
		}
 	</style>
	{% for curso  in site.data.horarios.cursos %}
  		<h2> {{curso.nome}} </h2>
    		{% for turma in curso.turmas %}
      			<h3> {{turma.nome}} </h3>
  			<div class="table-responsive"> 
  				<table class="table table-bordered"> 
      					<tr class = "titulo-tabela"> 
       						{% for coluna in turma.colunas %}
        						<th> {{coluna}} </th>
        					{% endfor %}
     					</tr>
						{% for linha in turma.linhas %}
        					<tr>
          						<td id="horario", class = "titulo-tabela"> {{linha.horario}} </td>
          						{% if linha.aulas[0].disciplina == "INTERVALO" 
							or linha.aulas[0].disciplina == "ALMOÇO"
							or linha.aulas[0].disciplina == "JANTAR" %}
								<td colspan="5"> <span class="break"> {{linha.aulas[0].disciplina}} </span> </td>
							{% else %}
								{% for aula in linha.aulas %}
          								<td> <span class="disciplina"> {{aula.disciplina}} </span> <br/> {{aula.professor}} </td>
          							{% endfor %}
							{% endif %}
        					</tr>
        					{% endfor %}
    				</table>
    			</div>
		{% endfor %}
	{% endfor %}
</body>
</html>

