---
---

<!DOCTYPE html>
<html>
<head>
	<title> Horários - IFPB Campus Guarabira </title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<meta name="keywords" content="horários, ifpb, guarabira, campus, professor, aluno">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="See this example of responsive three highlights without using javascript. Using only html and css. by Palloi Hofmann">
    <meta name="keywords" content="css4html, css+for+html, css 4 html, css4, css4 html, css, css3, html, html5" />

    <meta property="og:image" content="http://palloi.github.io/responsive-header-only-css/assets/images/image-shared-2.png" />
    <meta property="og:keywords" content="css4html, css+for+html, css 4 html, css4, css4 html, css, css3, html, html5" />
    <meta name="description" content="See this example of responsive three highlights without using javascript. Using only html and css. by Palloi Hofmann">

</head>
 
<body>
  	<style>
  		html,body,h1,h2,h3,h4,h5,h6 {
			font-family: 'Open Sans', sans-serif;
		}
 	</style>
<header>
      <h1 class="float-l", class="letra-branca">
        Horários - IFPB Campus Guarabira 
      </h1>
     
     <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r", class="letra-branca">
        <ul class="list-auto">
          <li>
            <a href="Informática" title="Informática">Informática</a>
          </li>
          <li>
            <a href="#Contabilidade" title="Contabilidade">Contabilidade</a>
          </li>
          <li>
            <a href="#Edificações" title="Edificações">Edificações</a>
          </li>
          <li>
            <a href="#Gestão Comercial" title="Gestão Comercial">Gestão Comercial</a>
          </li>
        </ul>
      </nav>
</header>
	{% for curso  in site.data.horarios.cursos %}
  		<h2> {{curso.nome}} </h2>
    		{% for turma in curso.turmas %}
      			<h3> {{turma.nome}} </h3>
  			<div class="table-responsive"> 
  				<table class="table table-bordered"> 
      					<tr class = "titulo-tabela", class="formatar-tabela"> 
       						{% for coluna in turma.colunas %}
        						<th> {{coluna}} </th>
        					{% endfor %}
     					</tr>
						{% for linha in turma.linhas %}
        					<tr>
          						<td id="horario", class = "titulo-tabela"> {{linha.horario}} </td>
          						{% if linha.aulas[0].disciplina == "INTERVALO" 
							or linha.aulas[0].disciplina == "ALMOÇO"
							or linha.aulas[0].disciplina == "JANTAR" %}
								<td colspan="5" class="break"> {{linha.aulas[0].disciplina}} </td>
							{% else %}
								{% for aula in linha.aulas %}
          								<td class="celula"> <span class="disciplina"> {{aula.disciplina}} </span> <br/> <span class="professor"> {{aula.professor}} </span> </td>
          							{% endfor %}
							{% endif %}
        					</tr>
        					{% endfor %}
    				</table>
    			</div>
		{% endfor %}
	{% endfor %}
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Company<span>logo</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Daniel Medeiros e Jackson Miguel &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Rodovia PB-057, km 2 </span> Guarabira, Paraíba, Brasil</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+ 55 83 98195-6465</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:campus_guarabira@ifpb.edu.br">campus_guarabira@ifpb.edu.br</a></p>
				</div>
				
				<div>
					<i class="fa fa-facebook"></i>
					<p><a href="https://www.facebook.com/campusifpbgba">Facebook</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Sobre o campus</span>
					Criado a partir do Plano de Expansão III da Educação Profissional, do Governo Federal, foi inaugurado na capital do Brejo paraibano, no dia 10 de outubro de 2011, na forma de Núcleo Avançado, vindo a se tornar campus no dia 08 de outubro de 2013, com a publicação da Portaria 993 do Ministério da Educação. Atualmente, oferece cursos técnicos, na modalidade integrado e subsequente ao ensino Médio e superiores.
				</p>

			</div>

		</footer>
</body>
</html>

